.container {
  display: flexbox;
}

.dashboard {
  width: 100%;
  height: 90vh;
  background: lightgrey;
  float: left;
  border-radius: 0px;
}

.dashboard_header {
  background: lightgrey;
  width: initial;
  height: 5vh;
  margin: 10px;
  padding: 5px;
}

.dashboard_top {
  background: lightgrey;
  width: initial;
  height: 7vh;
  margin: 10px;
  display: flex;
}

.date {
  background: white;
  width: 20%;
  height: 7vh;
  text-align: left;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 5px;
  display: column;
}

.date > div {
  margin: 3px 5px 5px 0px;
}

.dateRequired  {
  width: 150px;
  border-radius: 5px;
}

.dashboard_top_item {
  background: white;
  width: 15%;
  height: 7vh;
  text-align: left;
  padding: 2px 5px;
  margin-left: 20px;
  font-size: 12px;
  display: column;
  border-radius: 5px;
}

.dashboard_top_item > div {
  margin: 3px 5px 5px 0px;
}

.selectList {
  width: 150px;
  border-radius: 5px;
}

.dashboard_middle {
  background: lightgrey;
  width: initial;
  height: 8.5vh;
  display: flex;
  margin: 10px;
}

.dashboard_middle > div {
  background: white;
  width: 25%;
  text-align: left;
  padding: 10px;
  margin-right: 5px;
  font-size: 12px;
  border-radius: 5px;
}

.dashboard_middle_item {
  text-align: left;
  padding: 5px;
  color: black;
  font-size: 20px;
}

.dashboard_bottom {
  background: lightgrey;
  width: initial;
  display: flex;
  height: 30vh;
  margin: 10px;
  overflow: hidden;
}

.dashboard_bottom > div {
  background: white;
  width: 50%;
  text-align: left;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.dashboardChart_title {
  margin: 3px 5px 10px 0px;
  font-size: 14px;
}